.main__icon {
    object-fit: contain;
    width: 100%;
    height: 261px;
    max-width: 344px;
}


.main__header-err {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    letter-spacing: 0.03em;
    background: linear-gradient(170.9deg, #c3a882 -11.53%, #7685aa 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    margin-top: -80px;
    margin-bottom: 30px;
}

.main__subheader {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 30px;
}

.main__err {
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 180px;
    line-height: 145%;
    background: linear-gradient( 170.9deg, #F5E6D1 -11.53%, #45547A 115.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: -0.01em;
    font-family: Graphik LCG;
}

.main__link {
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 18px 61px;
}

.main__link:hover {
    outline: none;
    text-decoration: none;
    background: #ffffff;
    color: #010b24;
}

.main__line {
    width: 317px;
    height: 1px;
    background: #C4C4C4;
    opacity: 0.2;
    margin-bottom: 30px;
}

.main__err::after {
    position: absolute;
    content: "";
    background-image: url(../../img/dog.png);
    width: 147px;
    height: 137px;
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    left: 43.5%;
    top: 22%;
}

.main {
    margin: 0 auto;
    color: #ffffff;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 540px) {
    .main__line {
        width: 300px;
    }
}